<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://use.fontawesome.com/977cfe96bb.js"></script>
	<title>LineUp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
	<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">LineUp</a>
      <a href="#firstModalScreen" id="loginBtn" class="btn btn-default modal-trigger waves-effect waves-light"><span class="fa fa-lock"></span> Login</a>
    </div>
  </nav>
	{{{ body }}}

	<div id="firstModalScreen" class="modal">
    <div class="modal-content center-align">
			<h4 class="center-align">Login or Sign Up</h4>
			<a href="#loginModal" class="btn btn-large modal-action modal-close modal-trigger waves-effect waves-light">Login</a>
			<a href="#signUpModal" class="btn btn-large modal-action modal-close modal-trigger waves-effect waves-light">Signup</a>
    </div>
  </div>

	<!-- Login In Modal Pop Up -->
	<div id="loginModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><span class="fa fa-sign-in"></span> User Login</h4>
			<form action="/login" method="post">
					<div class="form-group">
							<input type="text" class="form-control" name="email">
							<label for="email" data-error="wrong" data-success="right">Email</label>
					</div>
					<div class="form-group">
							<input type="password" class="form-control" name="password">
							<label>Password</label>
					</div>
					<!-- <div class="form-group">
							<input type="checkbox" id="remember1" class="filled-in" name="remember" value="yes">
							<label for="remember1">Remember Me</label>
					</div>  -->
					<div class="form-group">
					<button type="submit" class="btn btn-warning btn-large formSubmit waves-effect waves-light">Login</button>
				</div>
			</form>
    </div>
    <div class="modal-footer center-align">
			<p>Need an account? <a href="#signUpModal" class="modal-trigger modal-action modal-close">Signup</a> | Or go <a href="/">home</a>.</p>

    </div>
  </div>

	<!-- Sign Up Modal -->
	<div id="signUpModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4><span class="fa fa-sign-in"></span> Signup</h4>
			<form action="/signup" method="post">
				<div class="form-group">
					<input type="text" class="form-control" name="email">
					<label for="email" data-error="wrong" data-success="right">Email</label>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password">
					<label>Password</label>
				</div>
				<button type="submit" class="btn btn-warning btn-large formSubmit waves-effect waves-light">Signup</button>
			</form>
    </div>
    <div class="modal-footer center-align">
			<p>Already have an account? <a href="#loginModal" class="modal-trigger modal-action modal-close">Login</a> | Or go <a href="/">home</a>.</p>
    </div>
  </div>

  <!-- <div id="mapxxx"></div> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- add this line mlh-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsWjdQWtX5MKGkDptD2flvRjdvusfUNio"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="/assets/js/login.js"></script>
  <!-- end add -->
  <script >

//   $(document).ready(function() {


// (function() {
//     var map;
//     var bounds = new google.maps.LatLngBounds();
//     var mapOptions = {
//         mapTypeId: 'roadmap'
//     };

//     // Display a map on the page
//     map = new google.maps.Map(document.getElementById("map"), mapOptions);
//     map.setTilt(45);

// //dummy data
// //{lat: 30.503, lng: -97.689};
//  //   var myLatLng1 = {lat: 30.9, lng: -97.1};
// //================================================
// // dta format var markers = [
// //        ['London Eye, London', lat   , lng   ],
// //        ['London Eye, London', 30.503,-97.689],
// //=================================================
//     // Multiple Markers
//     var markers = [
//         ['London Eye, London', 30.503,-97.689],
//         ['Palace of Westminster, London', 30.9,-97.1]
//     ];

//     // Info Window Content
//     var infoWindowContent = [
//         ['<div class="info_content">' +
//         '<h3>London Eye</h3>' +
//         '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
//         ['<div class="info_content">' +
//         '<h3>Palace of Westminster</h3>' +
//         '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
//         '</div>']
//     ];

//     // Display multiple markers on a map
//     var infoWindow = new google.maps.InfoWindow(), marker, i;

//     // Loop through our array of markers & place each one on the map
//     for( i = 0; i < markers.length; i++ ) {
//         var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
//         bounds.extend(position);
//         marker = new google.maps.Marker({
//             position: position,
//             map: map,
//             title: markers[i][0]
//         });

//         // Allow each marker to have an info window
//         google.maps.event.addListener(marker, 'click', (function(marker, i) {
//             return function() {
//                 infoWindow.setContent(infoWindowContent[i][0]);
//                 infoWindow.open(map, marker);
//             }
//         })(marker, i));

//         // Automatically center the map fitting all markers on the screen
//         map.fitBounds(bounds);
//     }

//     // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
//     var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
//         //this.setZoom(10);
//         google.maps.event.removeListener(boundsListener);
//     });

// })();
// });
</script>
</body>
</HTML>
