<!-- <div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div id="map" class="googleMap"></div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="section">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
</div>
