<div class="row mapLegend blue-grey lighten-1">
    <div class="firstLegend col s2">
        <p>Map Legend</p>
    </div>
    <div class="shortLine col s2">
        <p>Short Line</p>
    </div>
    <div class="mediumLine col s2">
        <p>Medium Line</p>
    </div>
    <div class="longLine col s2">
        <p>Long Line</p>
    </div>
    <div class="noData col s2">
        <p>Insufficient Data</p>
    </div>
</div>

<div id="map" class="googleMap"></div>
