<div id="map" class="googleMap"></div>



<!-- Modals for login in screens -->
<div id="firstModalScreen" class="modal">
  <div class="modal-content center-align">
    <h4 class="center-align">Login or Sign Up</h4>
    <a href="#loginModal" class="btn btn-large modal-action modal-close modal-trigger waves-effect waves-light">Login</a>
    <a href="#signUpModal" class="btn btn-large modal-action modal-close modal-trigger waves-effect waves-light">Signup</a>
  </div>
</div>

<!-- Login In Modal Pop Up -->
<div id="loginModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4><span class="fa fa-sign-in"></span> User Login</h4>
    <form action="/login" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="username">
          <label>Email</label>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password">
          <label>Password</label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-large formSubmit waves-effect waves-light">Login</button>
        </div>
    </form>
  </div>
  <div class="modal-footer center-align">
    <p>Need an account? <a href="#signUpModal" class="modal-trigger modal-action modal-close">Signup</a> | Or go <a href="/">home</a>.</p>
  </div>
</div>

<!-- Sign Up Modal -->
<div id="signUpModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4><span class="fa fa-sign-in"></span> Signup</h4>
    <form action="/signup" method="post">
      <div class="form-group">
        <input type="text" class="form-control" name="username">
				<label>Email</label>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password">
        <label>Password</label>
      </div>
      <button type="submit" class="btn btn-warning btn-large formSubmit waves-effect waves-light">Signup</button>
    </form>
  </div>
  <div class="modal-footer center-align">
    <p>Already have an account? <a href="#loginModal" class="modal-trigger modal-action modal-close">Login</a> | Or go <a href="/">home</a>.</p>
  </div>
</div>
