<div class="row mapLegend grey lighten-3">
  <div class="legendCol">
    <div class="col m3 s6 shortLine">
      Short Line
    </div>
    <div class="col m3 s6 mediumLine">
      Medium Line
    </div>
    <div class="col m3 s6 longLine">
      Long Line
    </div>
    <div class="col m3 s6 noData">
      Insufficient Data
    </div>
  </div>
</div>

<div id="map" class="googleMap"></div>
