<div class="container">
  <div class="row">
    <div class="col s12">
     <div class="card-panel grey lighten-5 z-depth-1">
       <div class="row">
         <div class="col s12 m4">
           <img src="http://lorempixel.com/output/technics-q-c-640-480-7.jpg" alt="" class="responsive-img">
         </div>
         <div class="col s12 m8">
           <h3>{{location-title}}</h2>
             <hr>
           <h5>Line Length: {{line-length}}</h5>
           <div class="action-buttons">
             <a class="waves-effect waves-light btn">Directions</a>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h3>How Long is the Line?</h3>
            <p class="flow-text">
              Your votes help us keep up to date data.
            </p>
            <div class="row center-align">
              <a id="shortLine" class="waves-effect waves-light btn">Short Line</a>
              <a id="mediumLine" class="waves-effect waves-light btn">Medium Line</a>
              <a id="longLine" class="waves-effect waves-light btn">Long Line</a>
            </div>
        </div>
    </div>
</div>
