body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
nav .nav-wrapper {
  padding: 0;
}
nav .brand-logo {
  padding: 0 20px;
}
#nav-mobile {
  background: #00e676;
}
#nav-mobile:hover {
  background: #2bbbad;
}
#loginBtn {
  box-shadow: none;
  font-size: 1.5em;
  display: block;
  list-style-type: disc;
  line-height: 64px;
  float: right !important;
  padding: 0 20px;
  height: 100%;
  border-radius: 0px;
  list-style-type: none;
}
#logoutBtn {
  box-shadow: none;
  font-size: 1.5em;
  display: block;
  list-style-type: disc;
  line-height: 64px;
  float: right !important;
  padding: 0 20px;
  height: 100%;
  border-radius: 0px;
  list-style-type: none;
  background-color: #ef5350;
}
#map {
  width: 100%;
  height: 90vh;
}
.btn {
  background: #00e676;
}
nav ul a.btn {
  font-weight: bold;
  font-size: 1.2em;
}
.btn-large {
  font-size: 1.5em;
  margin: 5px 10px;
}
label {
  font-size: 1.25em;
}
input[type=text], input[type=password] {
  margin: 0 0 5px 0;
}
.formSubmit {
  margin: 10px 0px;
}
.btn:hover, .btn-large:hover {}
footer.page-footer {
  margin-top: 0px;
  padding-top: 0px;
}
.mapLegend {
  margin-bottom: 0px;
  color: #ffffff;
  text-align: center;
}
#shortLine {
  background-color: #00E64D;
  color: #263238;
  font-weight: bold;
}
#mediumLine {
  background-color: #FDF569;
  color: #263238;
  font-weight: bold;
}
#longLine {
  background-color: #FD7567;
  color: #263238;
  font-weight: bold;
}
.shortLine {
  background-color: #00E64D;
}
.mediumLine {
  background-color: #FDF569;
}
.longLine {
  background-color: #FD7567;
}
.noData {
  background-color: #6991FD;
}
.legendCol {
  color: #263238;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 480px) {
  .modal-content .btn-large {
    width: 90%;
  }
  #shortLine {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }
  #mediumLine {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }
  #longLine {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }
}
