body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}


nav .nav-wrapper {
  padding: 0 20px;
}

#mapxxx {
          width: 49%;
          height: 400px;
          }
#map {
          width: 49%;
          height: 400px;
          }

